<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head"></head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Side Bar -->
		<div th:include="fragments/sidebar"></div>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Top Bar -->
				<div th:include="fragments/topbar"></div>
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Meta -
								[[${meta.status}]]</h6>
						</div>
						<div class="card-body text-dark">
							<h5 class="card-title font-weight-bold">[[${meta.nome}]]</h5>
							<p class="card-text">Descrição: [[${meta.descricao}]]</p>
							<p class="card-text">Data Criação: [[${meta.dataCriacao}]]</p>
							<p class="card-text">Data de Inicio: [[${meta.dataInicio}]]</p>
							<p class="card-text">Data de Conclusão:
								[[${meta.dataConclusao}]]</p>
						</div>
					</div>

					<a href="#" class="btn btn-success btn-icon-split mb-3"
						data-toggle="modal" data-target="#cadTarefaModal"> <span
						class="icon text-white-50"> <i class="fas fa-plus"></i>
					</span> <span class="text">Nova Tarefa</span>
					</a>
					
					<div class="card-deck">
						<div class="row">
						<div class="card col-xl-3 col-md-6 mb-4 border-info"  th:onclick="'editar(\'' + ${tarefa.id} + '\')'"   data-toggle="modal"
								data-target="#edtTarefaModal" 
							th:each="tarefa : ${meta.tarefas}">
							<input type="hidden" th:id="'id' + ${tarefa.id}"
								th:value='${tarefa.id}' /> <img src="/images/default-task.jpg"
								class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title" th:id="'nome' + ${tarefa.id}"
									th:text='${tarefa.nome}'></h5>
								<h6 class="card-title" th:id="'status' + ${tarefa.id}"
									th:text='${tarefa.status}'></h6>
								<p class="card-text" hidden="true" th:id="'descricao' + ${tarefa.id}"
									th:text='${tarefa.descricao}'></p>
							</div>
							<div class="card-footer">
								Data Início:
								<p class="card-text" th:id="'dataInicio' + ${tarefa.id}"
									th:text='${tarefa.dataInicio}'></p>
								Data Conclusão:
								<p class="card-text" th:id="'dataConclusao' + ${tarefa.id}"
									th:text='${tarefa.dataConclusao}'></p>
							</div>
							<button th:onclick="'editar(\'' + ${tarefa.id} + '\')'"
								type="button" class="btn btn-success mb-2" data-toggle="modal"
								data-target="#edtTarefaModal">
								<i class="fas fa-edit"></i>
							</button>
							<form th:id="'formRemover' + ${tarefa.id}"
								th:action="@{/tarefa/remover/} + ${tarefa.id}" method="post"></form>
							<button type="button" class="btn btn-danger"
								th:onclick="'remover(\'' + ${tarefa.id} + '\')'">
								<i class="far fa-trash-alt"></i>
							</button>
							
							</div>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<div th:include="fragments/footer"></div>
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->
	<div th:include="fragments/logout-modal"></div>
	<div th:include="fragments/scripts"></div>
	<div th:include="pages/tarefa/tarefa-cad-modal"></div>
	<div th:include="pages/tarefa/tarefa-edt-modal"></div>
	<script>
		function editar(e) {
			$("#tarefaNomeEdt").val($("#nome" + e).text());
			$("#tarefaDescricaoEdt").val($("#descricao" + e).text());
			$("#tarefaDataInicioEdt").val($("#dataInicio" + e).text());
			console.log($("#tarefaDataInicioEdt").val());
			$("#tarefaDataConclusaoEdt").val($("#dataConclusao" + e).text());
			$('#formEdt').attr('action', '/tarefa/atualizar/' + e);

		}

		function remover(e) {
			$('#formRemover' + e).submit();
		}
	</script>
</body>

</html>
