<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Objetivo</title>
</head>
<body>
	<h3>Objetivo</h3>
	<form th:action="@{/objetivo}" th:object="${objetivo}" method="POST" >
		<label for="nome">Nome: </label><br/> 
		<input type="text" id="nome" name="nome" th:value='${objetivo.nome}'/>Ser um especialista em programação microserviços<br/> 
		<label for="descricao">Descrição: </label><br/> 
		<input type="text" id="descricao" name="descricao" th:value='${objetivo.descricao}'/>Aprender a programar Java com microserviços<br/>
		<label for="dataInicio">Data de Inicio: </label><br/>  
		<input type="date" id="dataInicio" th:field="${objetivo.dataInicio}" th:value="${objetivo.dataInicio}"/><br/>
		<label for="dataConclusao">Date de Conclusão: </label><br/>  
		<input type="date" id="dataConclusao" th:field="${objetivo.dataConclusao}" th:value="${objetivo.dataConclusao}"/><br/>
		<label for="imagem">Imagem: </label><br/>  
		<input type="text" id="imagem" name="imagem" th:value='${objetivo.imagem}'/><br/> 
		<button type="submit">Salvar</button>
	</form>
</body>
</html>