<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Objetivo</title>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}
</style>
</head>
<body>

	<table style="width: 100%">
		<tr>
			<th>Objetivo</th>
			<th>Descrição</th>
			<th>Data Inicio</th>
			<th>Data Conclusão</th>
			<th>Status</th>
		</tr>
		<tr>
			<td th:text='${objetivo.nome}'></td>
			<td th:text='${objetivo.descricao}'></td>
			<td th:text='${objetivo.dataInicio}'></td>
			<td th:text='${objetivo.dataConclusao}'></td>
			<td th:text='${objetivo.status}'></td>
		</tr>
	</table>
	
	<h3>Meta</h3>
	<form th:action="@{/meta}" th:object="${meta}" method="POST" >
		<label for="nome">Nome: </label><br/> 
		<input type="text" id="meta" name="meta" th:value='${meta.nome}'/><br/> 
		<label for="descricao">Descrição: </label><br/> 
		<input type="text" id="descricao" name="descricao" th:value='${meta.descricao}'/><br/>
		<label for="dataInicio">Data de Inicio: </label><br/>  
		<input type="date" id="dataInicio" th:field="${meta.dataInicio}" th:value="${meta.dataInicio}"/><br/>
		<label for="dataConclusao">Date de Conclusão: </label><br/>  
		<input type="date" id="dataConclusao" th:field="${meta.dataConclusao}" th:value="${meta.dataConclusao}"/><br/>
		<label for="imagem">Imagem: </label><br/>  
		<input type="text" id="imagem" name="imagem" th:value='${meta.imagem}'/><br/> 
		<button type="submit">Salvar</button>
	</form>

</body>
</html>